input.ng-invalid {
	border-left: 3px solid red;
}

input.ng-valid {
	border-left: 3px solid green;
}

.error {
	color: red;
}

#ic-bus {
	color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 0.8em;
}